@{
    ViewData["Title"] = "Home Page";
}
@model System.Collections.Generic.List<EspressoShop.Web.Models.ProductViewModel>


<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Espresso Shop</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                @foreach (var product in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="~/images/@(product.Name).jpg" height="225" alt="@product.Name"/>
                            <div class="card-body">
                                <h5 class="card-title">@product.Name</h5>
                                @*<p class="card-text">@product.Description</p>*@
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        
                                        <a class="btn btn-sm btn-outline-secondary" asp-route-id="@product.Id" asp-action="product" role="button">View</a>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>

</main>

