@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    <span class="navbar-text ml-auto text-white">Welcome, @HttpContextAccessor.HttpContext.User.Identity.Name</span>
    <ul class="navbar-nav navbar-right">

        <li class="nav-item">
            <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                <button type="submit" class="btn btn-link text-white">Log out</button>
            </form>
        </li>
    </ul>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-action="Login" asp-controller="Account" class="text-white">Log in</a></li>
    </ul>
}
